@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body {
  position: relative;
  margn: 0;
  padding: 0;
}

p,
a,
span,
label,
table,
button,
legend,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #563d1f;
  font-size: 18px;
}

.modal-wrap button,
.modal-wrap input[type="submit"],
.search button,
.search input[type="submit"] {
  padding: 7px 15px;
  background-color: #abbddb;
  cursor: pointer;
}

.modal-wrap button:hover,
.modal-wrap input[type="submit"]:hover,
.search button:hover,
.search input[type="submit"]:hover {
  background-color: #f9c184;
}

.create-user-button,
.edit-user,
.delete-user {
  padding: 7px 15px;
  background-color: #abbddb;
  cursor: pointer;
}

.create-user-button:hover,
.edit-user:hover,
.delete-user:hover {
  background-color: #f9c184;
}

.pagination-links a {
  display: inline-block;
  background-color: #abbddb;
  padding: 5px 10px;
  margin: 5px;
}

.pagination-links a:hover {
  background-color: #f9c184;
}

.pagination-links .current-page a {
  background-color: #5589e0;
}

.pagination-links .current-page a:hover {
  background-color: #f9c184;
}

.all-users-wrap table,
.all-users-wrap td,
.all-users-wrap th {
  border: 1px solid #000;
}

.all-users-wrap td,
.all-users-wrap th {
  padding: 5px, 10px;
}

.modal-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.8);
  text-align: center;
}

.modal-wrap .modal {
  padding: 10px 20px;
  margin-top: 200px;
  background-color: #fff;
  display: inline-block;
}

.modal-wrap .modal fieldset {
  padding: 20px 30px;
}

.modal-wrap .modal fieldset label {
  display: inline-block;
  margin: 10px 0;
}

.modal-wrap.create,
.modal-wrap.edit {
  display: none;
}

