.pagination-links a {
    display: inline-block;
    background-color: rgb(200, 200, 200);
    padding: 5px 10px;
    margin: 5px;
}

.pagination-links .current-page a {
    background-color: rgb(100, 100, 100);
}

table, td, th {
    border: 1px solid #000;
}

td, th {
    padding: 5px, 10px;
}